body {
    margin:0;
    padding:0;
    font-size: 20px;
}

#mainPage {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 94vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#editorContainer {
    height: 94vh;
    padding: 5px 5px;
}

#editorContainer textarea {
    border-radius: 15px;
}


/* Preview Section styling */
.preview-section {
    display: flex;
    flex-direction: column;    
    color: rgb(82, 82, 82);    
}

.preview-section h2 {
    cursor: pointer;
}

.preview-section .markdown-render {
    /* border: 1px solid red; */
    font-family: 'Varela Round', sans-serif;
    height: 82vh;
    overflow-y: scroll;
}

.preview-section .markdown-render h1, 
.preview-section .markdown-render h2, 
.preview-section .markdown-render h3, 
.preview-section .markdown-render h4, 
.preview-section .markdown-render h5, 
.preview-section .markdown-render h6, 
.preview-section .markdown-render p {
    font-family: 'Sanchez', serif;
}

.preview-section .markdown-render p {    
    font-size: 1.3rem;
}

.preview-section .actions {
    display: flex;
    justify-content: flex-end;    
}

.preview-section .actions button{
    margin: 5px;
}
